{% set source = sources[0] %}
{% set src_node = source.dependencies[0].node %}
{% set forecast_name = 'Translate_' ~ src_node.name %}

{{ stage('Translate') }}


CREATE OR REPLACE TABLE {{ this }}
(
    {% for col in source.columns  %}
        "{{ col.name }}" 
        {%- if col.name == config.translatecol.name %} varchar
        {%- elif col.name == config.sourcelangcol.name %} varchar
        {%- elif col.name == config.tgtlangcol.name %} varchar
        {%- else %} {{ col.dataType }}
        {%- endif %}
        {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{%- endif %}
        {%- if not loop.last -%}, {% endif %}
    {% endfor %}
    )
{%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}


