{% set source = sources[0] %}
{% set src_node = source.dependencies[0].node %}
{% set translate_name = 'TRANSLATE_' ~ src_node.name %}

{{ stage('Truncate Translate table') }}
TRUNCATE TABLE IF EXISTS {{ this }}

{{ stage('Populate Translate Table') }}

INSERT INTO {{ this }}
(
    {%- for col in source.columns  %} 
        "{{ col.name }}" {%- if not loop.last -%}, {% endif %}
    {%- endfor %}
)
SELECT 
    {%- for col in source.columns  %} 
        {% if col.name == 'Translation' %}          
            snowflake.cortex.TRANSLATE({{ config.translatecol.name }},'{{ config.sourcelangcol}}','{{ config.tgtlangcol}}') AS "{{ col.name }}"
        {% else %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
        {% endif %}
        {%- if not loop.last -%}, {% endif %}
    {%- endfor %}
    {{ source.join }}
